.bz-bg-color{
    background-color: #FAD3E7; 
}
.pv-btn{
    background-color: #120E43
}
.latest-news{
    background-color: #74c7ff77;
}
.reting-icons{
    width: 20px;
}
.list-style{
    list-style: none;
}